.friendMessage {
  margin-bottom: 70px;
}

.friendImageAndText {
  display: flex;
}

.friendImageAndText img {
  height: 48px;
}

.friendText {
  background-color: rgba(245, 247, 251, 1);
  color: (0, 0, 0, 1);
  border-radius: 15px 15px 15px 0;
  padding: 10px 15px;
  position: relative;
  margin-left: 10px;
}

.friendText:after {
  content: '';
  position: absolute;
  left: -8px;
  top: 42px;
  width: 0;
  height: 0;
  transform: rotate(-90deg);
  border-left: 10px solid rgba(245, 247, 251, 1);
  border-top: 15px solid transparent;
  border-bottom: 10px solid transparent;
}

.friendName {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.friendMessageText {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}

.friendTime {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
  padding-left: 10px;
}
